# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# Spring Boot
application-prd.yml

# Env / secrets
.env
*.env
*.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
